<div class="col-lg-2 col-md-3 col-5" style="margin-bottom: 20px">
<div class="card">
  <img class="card-img-top" data-src="holder.js/100x180" alt="Card image cap" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
       <%= number_to_currency(receipt.amount) %> 
    </p>
    <%= link_to edit_receipt_path(receipt.id) do %>
      <span class="material-icons">
        edit
      </span>
    <% end %>
    
  </div>
  <div class="card-footer">
      <small class="text-muted"><%= receipt.transaction_date || receipt.created_at %></small>
    </div>
</div>
</div>
<!%= link_to receipt.tray.name, receipts_path(tray_id: receipt.tray.id) %> 