<h2>Receipts</h2>

<%= link_to "Add New Receipt", new_receipt_path %>
<ul id="receipts">
<% @receipts.each do |receipt| %>
  <%= render partial: "receipt", locals: {receipt: receipt} %>
<% end %>
</ul>